@import './mixin';

$theme-clr: #001446;

@include font-face(gg_heavy, '../fonts/GreyGoose-Heavy', ttf otf woff woff2);
@include font-face(NarkisBlack, '../fonts/NarkisBlock-black', ttf otf woff woff2);
@include font-face(NarkisBlackRegular, '../fonts/NarkisBlock-Regular', ttf otf woff woff2);
@include font-face(NarkisBlackMedium, '../fonts/NarkisBlock-Medium', ttf otf woff woff2);
@include font-face(NarkisBlockCondensed-Bold, '../fonts/NarkisBlockCondensed-Bold', ttf otf woff woff2);

html, body {
    scroll-behavior: smooth;
}

body {
    background-image: url("../images/like_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    direction: rtl;
    background-attachment: fixed;    
}

.text-center {
    text-align: center;
}


.campaign {
    padding-top: 104px;
}

.bannerSection {
    padding: 60px 0 20px;
    @media screen and (max-width: 767px) {
        padding: 60px 0 30px;
    }
    img {
        width: 280px;
        margin-bottom: 30px;
    }
    &__title {
        font-size: 62px;
        font-family: "gg_heavy";
        color: #ffffff;     
        @media screen and (max-width: 767px) {
            font-size: 46px;
        }   
    }
}
.offerSection {
    &__offer {
        margin-bottom: 40px;
        background-color: #ffffff;
        padding: 30px;
        display: flex;
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
        &__img {
            max-width: 60%;
            min-width: 60%;
        }
        aside {
            flex: 1;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .aside-title {
                font-family: "NarkisBlack";
                font-size: 60px;
                color: $theme-clr;
                @media screen and (max-width: 767px) {
                    font-size: 46px;
                    word-break: break-word;
                }
            }
            .bordered-title {
                color: #ffffff;
                font-family: "NarkisBlack";
                font-size: 64px;
                letter-spacing: 10px;
                text-shadow: 1px 0 0 $theme-clr,
                            -1px 0 0 $theme-clr,
                            0 1px 0 $theme-clr,
                            0 -1px 0 $theme-clr,
                            1px 1px $theme-clr,
                            -1px -1px 0 $theme-clr,
                            1px -1px 0 $theme-clr,
                            -1px 1px 0 $theme-clr;
                @media screen and (max-width: 767px) {
                    font-size: 50px;
                    word-break: break-word;
                }
            }
            p {
                font-family: "NarkisBlackRegular";
                font-size: 25px;
                line-height: 1;
                margin-bottom: 20px;
                color: $theme-clr;
                @media screen and (max-width: 767px) {
                    font-size: 20px;
                }
                label {
                    font-size: 31px;
                    display: block;
                    font-family: "NarkisBlackMedium";
                    @media screen and (max-width: 767px) {
                        font-size: 22px;
                    }
                }
                span {
                    display: block;
                    margin-top: 20px;
                    font-size: 18px;
                    @media screen and (max-width: 767px) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.customBtn {
    background-color: #d43c47;
    color: #ffffff;
    font-size: 25px;
    font-family: "NarkisBlackRegular";
    border: 0;
    line-height: 1;
    border-radius: 20px;
    padding: 5px 15px;
    @media screen and (max-width: 767px) {
        font-size: 19px;
    }
}

.productsSection {
    padding: 30px;
    &__title {
        color: #ffffff;
        font-size: 56px;
        font-family: "NarkisBlackMedium";
        text-align: center;
    }
    &__products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__item {
            max-width: 25%;
            min-width: 25%;
            padding: 12px;
            @media screen and (min-width: 767px) and (max-width: 1199px) {
                max-width: 33%;
                min-width: 33%;
            }
            @media screen and (max-width: 767px) {
                max-width: 50%;
                min-width: 50%;
            }
            &__inner {
                background-color: #ffffff;
                .prod_item {
                    background-color: transparent !important;
                    font-family: "NarkisBlackMedium";
                    .slide3_img {
                        background-color: transparent !important;
                    }
                    .prod_price_wrap {
                        span {
                            font-size: 29px;
                            @media screen and (max-width: 767px) {
                                font-size: 22px;
                            }
                            &.small {
                                font-size: 17px;
                                @media screen and (max-width: 767px) {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                    .prod_title {
                        font-size: 18px;
                        @media screen and (max-width: 767px) {
                            font-size: 14px;
                        }
                    }
                    .product_bottom {
                        .customBtn {
                            margin-bottom: 10px;
                        }
                        .info {
                            font-size: 15px;
                            font-family: "NarkisBlackRegular";
                            @media screen and (max-width: 767px) {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.customFooter {
    padding: 10px 30px 40px 30px;
    img {
        width: 280px;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1199px) {
    .offerSection__offer {
        flex-direction: column !important;
        &__img {
            min-width: 100%;
            max-width: 100%;
        }
    }
}