@font-face {
  font-family: "gg_heavy";
  font-weight: ttf otf woff woff2;
  src: url("../fonts/GreyGoose-Heavy.eot?") format("eot"), url("../fonts/GreyGoose-Heavy.woff2") format("woff2"), url("../fonts/GreyGoose-Heavy.woff") format("woff"), url("../fonts/GreyGoose-Heavy.ttf") format("truetype"), url("../fonts/GreyGoose-Heavy.svg#gg_heavy") format("svg");
}
@font-face {
  font-family: "NarkisBlack";
  font-weight: ttf otf woff woff2;
  src: url("../fonts/NarkisBlock-black.eot?") format("eot"), url("../fonts/NarkisBlock-black.woff2") format("woff2"), url("../fonts/NarkisBlock-black.woff") format("woff"), url("../fonts/NarkisBlock-black.ttf") format("truetype"), url("../fonts/NarkisBlock-black.svg#NarkisBlack") format("svg");
}
@font-face {
  font-family: "NarkisBlackRegular";
  font-weight: ttf otf woff woff2;
  src: url("../fonts/NarkisBlock-Regular.eot?") format("eot"), url("../fonts/NarkisBlock-Regular.woff2") format("woff2"), url("../fonts/NarkisBlock-Regular.woff") format("woff"), url("../fonts/NarkisBlock-Regular.ttf") format("truetype"), url("../fonts/NarkisBlock-Regular.svg#NarkisBlackRegular") format("svg");
}
@font-face {
  font-family: "NarkisBlackMedium";
  font-weight: ttf otf woff woff2;
  src: url("../fonts/NarkisBlock-Medium.eot?") format("eot"), url("../fonts/NarkisBlock-Medium.woff2") format("woff2"), url("../fonts/NarkisBlock-Medium.woff") format("woff"), url("../fonts/NarkisBlock-Medium.ttf") format("truetype"), url("../fonts/NarkisBlock-Medium.svg#NarkisBlackMedium") format("svg");
}
@font-face {
  font-family: "NarkisBlockCondensed-Bold";
  font-weight: ttf otf woff woff2;
  src: url("../fonts/NarkisBlockCondensed-Bold.eot?") format("eot"), url("../fonts/NarkisBlockCondensed-Bold.woff2") format("woff2"), url("../fonts/NarkisBlockCondensed-Bold.woff") format("woff"), url("../fonts/NarkisBlockCondensed-Bold.ttf") format("truetype"), url("../fonts/NarkisBlockCondensed-Bold.svg#NarkisBlockCondensed-Bold") format("svg");
}
html, body {
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/like_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  direction: rtl;
  background-attachment: fixed;
}

.text-center {
  text-align: center;
}

.campaign {
  padding-top: 104px;
}

.bannerSection {
  padding: 60px 0 20px;
}
@media screen and (max-width: 767px) {
  .bannerSection {
    padding: 60px 0 30px;
  }
}
.bannerSection img {
  width: 280px;
  margin-bottom: 30px;
}
.bannerSection__title {
  font-size: 62px;
  font-family: "gg_heavy";
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .bannerSection__title {
    font-size: 46px;
  }
}

.offerSection__offer {
  margin-bottom: 40px;
  background-color: #ffffff;
  padding: 30px;
  display: flex;
}
@media screen and (max-width: 767px) {
  .offerSection__offer {
    margin-bottom: 30px;
  }
}
.offerSection__offer:nth-child(even) {
  flex-direction: row-reverse;
}
.offerSection__offer__img {
  max-width: 60%;
  min-width: 60%;
}
.offerSection__offer aside {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offerSection__offer aside .aside-title {
  font-family: "NarkisBlack";
  font-size: 60px;
  color: #001446;
}
@media screen and (max-width: 767px) {
  .offerSection__offer aside .aside-title {
    font-size: 46px;
    word-break: break-word;
  }
}
.offerSection__offer aside .bordered-title {
  color: #ffffff;
  font-family: "NarkisBlack";
  font-size: 64px;
  letter-spacing: 10px;
  text-shadow: 1px 0 0 #001446, -1px 0 0 #001446, 0 1px 0 #001446, 0 -1px 0 #001446, 1px 1px #001446, -1px -1px 0 #001446, 1px -1px 0 #001446, -1px 1px 0 #001446;
}
@media screen and (max-width: 767px) {
  .offerSection__offer aside .bordered-title {
    font-size: 50px;
    word-break: break-word;
  }
}
.offerSection__offer aside p {
  font-family: "NarkisBlackRegular";
  font-size: 25px;
  line-height: 1;
  margin-bottom: 20px;
  color: #001446;
}
@media screen and (max-width: 767px) {
  .offerSection__offer aside p {
    font-size: 20px;
  }
}
.offerSection__offer aside p label {
  font-size: 31px;
  display: block;
  font-family: "NarkisBlackMedium";
}
@media screen and (max-width: 767px) {
  .offerSection__offer aside p label {
    font-size: 22px;
  }
}
.offerSection__offer aside p span {
  display: block;
  margin-top: 20px;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .offerSection__offer aside p span {
    font-size: 16px;
  }
}

.customBtn {
  background-color: #d43c47;
  color: #ffffff;
  font-size: 25px;
  font-family: "NarkisBlackRegular";
  border: 0;
  line-height: 1;
  border-radius: 20px;
  padding: 5px 15px;
}
@media screen and (max-width: 767px) {
  .customBtn {
    font-size: 19px;
  }
}

.productsSection {
  padding: 30px;
}
.productsSection__title {
  color: #ffffff;
  font-size: 56px;
  font-family: "NarkisBlackMedium";
  text-align: center;
}
.productsSection__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productsSection__products__item {
  max-width: 25%;
  min-width: 25%;
  padding: 12px;
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .productsSection__products__item {
    max-width: 33%;
    min-width: 33%;
  }
}
@media screen and (max-width: 767px) {
  .productsSection__products__item {
    max-width: 50%;
    min-width: 50%;
  }
}
.productsSection__products__item__inner {
  background-color: #ffffff;
}
.productsSection__products__item__inner .prod_item {
  background-color: transparent !important;
  font-family: "NarkisBlackMedium";
}
.productsSection__products__item__inner .prod_item .slide3_img {
  background-color: transparent !important;
}
.productsSection__products__item__inner .prod_item .prod_price_wrap span {
  font-size: 29px;
}
@media screen and (max-width: 767px) {
  .productsSection__products__item__inner .prod_item .prod_price_wrap span {
    font-size: 22px;
  }
}
.productsSection__products__item__inner .prod_item .prod_price_wrap span.small {
  font-size: 17px;
}
@media screen and (max-width: 767px) {
  .productsSection__products__item__inner .prod_item .prod_price_wrap span.small {
    font-size: 13px;
  }
}
.productsSection__products__item__inner .prod_item .prod_title {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .productsSection__products__item__inner .prod_item .prod_title {
    font-size: 14px;
  }
}
.productsSection__products__item__inner .prod_item .product_bottom .customBtn {
  margin-bottom: 10px;
}
.productsSection__products__item__inner .prod_item .product_bottom .info {
  font-size: 15px;
  font-family: "NarkisBlackRegular";
}
@media screen and (max-width: 767px) {
  .productsSection__products__item__inner .prod_item .product_bottom .info {
    font-size: 12px;
  }
}

.customFooter {
  padding: 10px 30px 40px 30px;
}
.customFooter img {
  width: 280px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .offerSection__offer {
    flex-direction: column !important;
  }
  .offerSection__offer__img {
    min-width: 100%;
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
